apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "grist.fullname" .}}-data
  labels:
    {{- include "grist.labels" . | nindent 4 }}
spec:
  accessModes:
    {{- toYaml .Values.persistentVolumeClaim.accessModes | nindent 4 }}
  resources:
    requests:
      storage: {{ .Values.persistentVolumeClaim.size | quote }}
