database:
  defaults:
    userConnectionLimit: 100
  grist:
    type: postgresql
    name: grist
    host: grist-postgresql
    username: grist
    port: 5432
  keycloak:
    type: postgresql
    name: keycloak
    host: postgresql
    port: 5432
  docs:
    type: postgresql
    name: docs
    host: postgresql
    port: 5432
  synapse:
    type: "psycopg2"
    name: "synapse"
    host: "chat-postgresql.icbr-poc-chat.svc.cluster.local"
    port: 5432
    username: "synapse"
