annotations:
  postgresql:
    common: ~
    persistence: ~
    pod: ~
    service: ~
    serviceAccount: ~
  redis:
    common: ~
    masterMaster: ~
    masterPersistence: ~
    masterPod: ~
    masterService: ~
    masterServiceAccount: ~
    replicaReplica: ~
    replicaPersistence: ~
    replicaPod: ~
    replicaService: ~
    replicaServiceAccount: ~
    secret: ~
