applications:
  grist:
    enabled: true
    namespace: ~
    defaultLocale: ""
    orgInPath: true
    singleOrg: ""
  ai:
    enabled: true
    namespace: ~
  chat:
    enabled: true
    namespace: ~
