charts:
  postgresql:
#    registry: {{ coalesce (env "MIJNBUREAU_IMAGE_REGISTRY_DOCKERIO") "registry-1.docker.io" | quote }}
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "postgresql"
    version: "16.7.14"
  redis:
#    registry: {{ coalesce (env "MIJNBUREAU_IMAGE_REGISTRY_DOCKERIO") "registry-1.docker.io" | quote }}
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "redis"
    version: "21.2.6"
