---
global:
  domain: {{ env "DOMAIN" | default "mijnbureau.internal" | quote }}
  matrixDomain: {{ env "MATRIX_DOMAIN" | quote }}

  hosts:
    docs: "docs"
    keycloak: "id"
    element: "chat"
    livekit: "livekit"
    synapse: "synapse"
    ollama: "ollama"

  # resourcePreset sets the default resources for all applications
  # allowed values "nano" "micro" "small" "medium" "large" "xlarge" "2xlarge"
  resourcesPreset: "small"

  ## Credentials to fetch images from private registry
  ## Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  #
  imagePullSecrets:
    {{- $pullSecrets := list (env "MIJNBUREAU_IMAGE_PULL_SECRET_DOCKERIO") (env "MIJNBUREAU_IMAGE_PULL_SECRET_QUAY") (env "MIJNBUREAU_IMAGE_PULL_SECRET_GHCR") }}
    {{- range $pullSecret := $pullSecrets }}
    - name: {{ $pullSecret | quote }}
    {{ end }}

  ## Define the policy to pull container images.
  ## Ref: https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy
  #
  imagePullPolicy: "IfNotPresent"
