helmchart:
  default:
    registry: ~

  keycloak:
    name: keycloak
    registry: registry-1.docker.io
    repository: bitnamicharts
    version: "24.6.7"
    verify: false
    oci: true
    username: ~
    password: ~

