images:
  postgresql:
    registry: {{ coalesce (env "MIJNBUREAU_IMAGE_REGISTRY_DOCKERIO") "registry-1.docker.io" | quote }}
    repository: "bitnami/postgresql"
    tag: "17.5.0-debian-12-r16@sha256:687034f33da65060d7be3a7b0ccc90080ce8fb713f8dc4efcd428f02e66b9380"
  synapse:
    registry: {{ coalesce (env "MIJNBUREAU_IMAGE_REGISTRY_DOCKERIO") "registry-1.docker.io" | quote }}
    repository: "matrixdotorg/synapse"
    tag: "v1.132.0@sha256:3036ec25dfb5fcc5120942465788c1e1f2bb3671e28b04d7b3a1db4400ac84f4"
  redis:
    registry: {{ coalesce (env "MIJNBUREAU_IMAGE_REGISTRY_DOCKERIO") "registry-1.docker.io" | quote }}
    repository: "bitnami/redis"
    # TODO upgrade
    tag: "7.4.3-debian-12-r0@sha256:a25b5d07a14ec13730022c7cd9bab6308d55ccd86b74af7315553c17be884889"
