## here you can overwrite specific application PodDisruptionBudget settings
pdb:
  docs:
    backend:
      create: true
    frontend:
      create: true
    yProvider:
      create: true
    nginx:
      create: true
