resources:
  postgresql:
    limits:
      cpu: 4000m
      memory: "1Gi"
    requests:
      cpu: 100m
      memory: "256Mi"
  redis:
    limits:
      cpu: 2000m
      memory: "256Mi"
    requests:
      cpu: 100m
      memory: "32Mi"
  synapse:
    limits:
      cpu: 4000m
      memory: "4Gi"
    requests:
      cpu: 500m
      memory: "256Mi"
