secret:
  docs:
    djangoSecretKey: {{derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "djangoSecretKey" | sha256sum | quote }}
    superuser: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "superuser" | sha1sum | quote }}
    collaborationSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "docs" "collaborationSecret" | sha1sum | quote }}

  keycloak:
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "adminPassword" | sha1sum | quote}}
