secret:

  minio:
    rootPassword: {{ derivePassword 1 "long" (env "MIJNBUREAU_MASTER_PASSWORD" | default "mijn-bureau") "minio" "root_password" | sha1sum | quote }}


  keycloak:
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "adminPassword" | sha1sum | quote}}
