{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ (include "common.names.fullname" .) }}-script-post-install
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: nextcloud-scripts
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  general-settings.sh: |-
    #!/bin/bash

    php /var/www/html/occ background:cron
    php /var/www/html/occ encryption:enable

    php /var/www/html/occ app:disable dashboard
    php /var/www/html/occ app:disable nextcloud_announcements
    php /var/www/html/occ app:disable photos
    php /var/www/html/occ app:disable recommendations
    php /var/www/html/occ app:disable weather_status
    php /var/www/html/occ app:disable firstrunwizard
    php /var/www/html/occ app:disable notifications
    php /var/www/html/occ app:disable survey_client
    php /var/www/html/occ app:disable user_status
    php /var/www/html/occ app:disable files_reminders

    php /var/www/html/occ app:enable admin_audit
    php /var/www/html/occ app:enable encryption

    php /var/www/html/occ config:app:set core shareapi_allow_links --value=no
    php /var/www/html/occ config:app:set core shareapi_default_permissions --value=15

    php /var/www/html/occ config:app:set files_sharing outgoing_server2server_share_enabled --value=no
    php /var/www/html/occ config:app:set files_sharing incoming_server2server_share_enabled --value=no
    php /var/www/html/occ config:app:set files_sharing federatedTrustedShareAutoAccept --value=no

    php /var/www/html/occ config:app:set sharebymail sendpasswordmail --value=no
    php /var/www/html/occ config:app:set sharebymail replyToInitiator --value=no

    php /var/www/html/occ config:app:set files_downloadlimit download --value=10
    php /var/www/html/occ config:app:set theming name --value=MijnBureau
    php /var/www/html/occ config:app:set theming backgroundMime --value=backgroundColor

    php /var/www/html/occ config:system:set maintenance_window_start --type=integer --value=1
    php /var/www/html/occ config:system:set default_phone_region --value=NL

    # Set default quota for new users
    php /var/www/html/occ config:app:set files default_quota --value="{{ .Values.files.defaultQuota }}"

  {{- if .Values.auth.oidc.enabled }}
  {{- include "nextcloud.addAndEnableAppPreConfig" (dict "appName" "user_oidc" "appTitle" "OIDC Provider" ) | nindent 2 }}
        echo "Configuring OIDC provider..."
        if ! php /var/www/html/occ user_oidc:provider keycloak \
          --clientid="{{ .Values.auth.oidc.clientId }}" \
          --clientsecret="{{ .Values.auth.oidc.clientSecret }}" \
          --discoveryuri="{{ .Values.auth.oidc.discoveryUri }}"; then
          echo "WARNING: Failed to configure OIDC provider"
        else
          echo "OIDC provider configuration completed"
          php /var/www/html/occ config:app:set user_oidc provider-1-checkBearer --value=1
          php /var/www/html/occ config:app:set user_oidc provider-1-bearerProvisioning --value=1
          php /var/www/html/occ config:app:set user_oidc allow_multiple_user_backends  --value=0
        fi
  {{- include "nextcloud.addAndEnableAppPostConfig" . | nindent 2 }}
  {{- end }}

  {{- if .Values.collabora.url }}
  {{- include "nextcloud.addAndEnableAppPreConfig" (dict "appName" "richdocuments" "appTitle" "Rich Documents") | nindent 2 }}
        echo "Configuring WOPI URL for richdocuments..."
        if ! php /var/www/html/occ config:app:set richdocuments wopi_url --value="{{ .Values.collabora.url }}"; then
          echo "WARNING: Failed to configure WOPI URL"
        else
          echo "WOPI URL configuration completed"
        fi

        echo "Configuring WOPI Allow List for richdocuments..."
        if ! php /var/www/html/occ config:app:set richdocuments wopi_allowlist --value="{{ .Values.collabora.wopi_allowlist }}"; then
            echo "WARNING: Failed to configure WOPI Allow List"
        else
            echo "WOPI Allow List configuration completed"
        fi
  {{- include "nextcloud.addAndEnableAppPostConfig" . | nindent 2 }}
  {{- end }}

  # Ref: https://github.com/nextcloud/all-in-one/blob/main/Containers/nextcloud/entrypoint.sh#L870
  {{- if .Values.files.antivirus.enabled }}
  {{- include "nextcloud.addAndEnableAppPreConfig" (dict "appName" "files_antivirus" "appTitle" "Files Antivirus") | nindent 2 }}
        count=0
        while [ "$(echo PING | curl -s telnet://{{ .Values.files.antivirus.host }}:{{ .Values.files.antivirus.port }})" != "PONG" ] && [ "$count" -lt 90 ]; do
            echo "Waiting for ClamAV to become available..."
            count=$((count+5))
            sleep 5
        done
        if [ "$count" -ge 90 ]; then
            echo "ClamAV did not start in time!"
            echo "Skipping initialization and disabling files_antivirus app."
            php /var/www/html/occ app:disable files_antivirus
        else
            if ! [ -d "/var/www/html/custom_apps/files_antivirus" ]; then
                php /var/www/html/occ app:install files_antivirus
            elif [ "$(php /var/www/html/occ config:app:get files_antivirus enabled)" != "yes" ]; then
                php /var/www/html/occ app:enable files_antivirus
            elif [ "$SKIP_UPDATE" != 1 ]; then
                php /var/www/html/occ app:update files_antivirus
            fi
            php /var/www/html/occ config:app:set files_antivirus av_mode --value="daemon"
            php /var/www/html/occ config:app:set files_antivirus av_port --value="{{ .Values.files.antivirus.port }}"
            php /var/www/html/occ config:app:set files_antivirus av_host --value="{{ .Values.files.antivirus.host }}"
            # av_stream_max_length must be synced with StreamMaxLength inside clamav
            php /var/www/html/occ config:app:set files_antivirus av_stream_max_length --value="{{ .Values.files.antivirus.maxStreamSize }}"
            php /var/www/html/occ config:app:set files_antivirus av_max_file_size --value="{{ .Values.files.antivirus.maxFileSize }}"
            php /var/www/html/occ config:app:set files_antivirus av_infected_action --value="{{ .Values.files.antivirus.infectedAction }}"
            if [ -n "$CLAMAV_BLOCKLISTED_DIRECTORIES" ]; then
                php /var/www/html/occ config:app:set files_antivirus av_blocklisted_directories --value="$CLAMAV_BLOCKLISTED_DIRECTORIES"
            fi
        fi
  {{- include "nextcloud.addAndEnableAppPostConfig" . | nindent 2 }}
  {{- end }}

  {{- include "nextcloud.addAndEnableApp" (dict "appName" "drawio" "appTitle" "drawio") | nindent 2 }}
  {{- include "nextcloud.addAndEnableApp" (dict "appName" "deck" "appTitle" "deck") | nindent 2 }}
  {{- include "nextcloud.addAndEnableApp" (dict "appName" "groupfolders" "appTitle" "groupfolders") | nindent 2 }}
  {{- include "nextcloud.addAndEnableApp" (dict "appName" "contacts" "appTitle" "contacts") | nindent 2 }}
  {{- include "nextcloud.addAndEnableApp" (dict "appName" "files_accesscontrol" "appTitle" "files access control") | nindent 2 }}
