global:
  security:
    allowInsecureImages: true

  imagePullSecrets:
    - name: {{ .Values.global.imagePullSecrets.dockerhub | quote }}

image:
  registry: {{(coalesce .Values.global.imageRegistry.dockerhub .Values.images.grist.registry) | quote }}

imagePullSecrets:
  - name: {{ .Values.global.imagePullSecrets.dockerhub | quote }}

auth:
  enabled: false
