image:
  registry: {{(coalesce .Values.global.imageRegistry.dockerhub .Values.images.grist.registry) | quote }}
  repository: {{ .Values.images.grist.repository | quote }}
  pullPolicy: "IfNotPresent"

imagePullSecrets:
  - name: {{ .Values.global.imagePullSecrets.dockerhub | quote }}
